<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace= "oms.eureka.user.mapper.UserMapper" >
	<!-- 开启当前mapper的二级缓存 -->
	<cache/>
	
    <resultMap id ="UserInfoMap" type="oms.eureka.user.model.User">
    	<result column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="code" property="code"/>
        <result column="password" property="password"/>
    </resultMap>

    <select id = "queryAllUsers" resultMap="UserInfoMap">
        select id,name,code,password from user;
    </select>
</mapper>